body {
  margin: 0;
  background-color: aqua;
}

/* Navigation */

.nav-container {
  display: flex;
  width: 100%;
  background-color: white;
  height: 13vh;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
}

.logo-container p {
  font-size: 2rem;
}

.logo-container .logo:hover {
  cursor: pointer;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-container .menu {
  position: relative;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.menu-container .menu .link {
  display: flex;
  justify-content: center;
  width: 70px;
  padding: 10px 0;
  margin: 0 15px;
  font-size: 1rem;
  transition: all 0.2s;
}

.menu-container .menu .active::before {
  content: '';
  position: absolute;
  width: 35px;
  border-bottom: #000000 2px solid;
  bottom: 0;
}

.menu-container .menu .link:hover {
  cursor: pointer;
  color: #3D4F70;
}

.search-container {
  position: relative;
  width: 7vw;
  height: 100%;
  background-color: #3D4F70;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
}

.search-container .search-icon {
  display: block;
  margin-right: 2.5vw;
  transition: all 0.2s;
}

.search-container .search-icon:hover {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.search-container .search-box {
  position: absolute;
  width: 0;
  right: 0;
  margin-right: 7vw;
  height: 1.2rem;
  transition: all 1s;
}

/* Main */

.main-container {
  display: flex;
  height: 87vh;

}

.main-container .place-container {
  width: 93vw;

}

.main-container .socials-container {
  width: 7vw;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials-container .social-icons {
  width: 30px;
  height: 30px;
  margin: 20px 0;
  transition: all 0.2s;
}

.socials-container .social-icons:hover {
  cursor: pointer;
  height: 35px;
  width: 35px;
}